.login-cont{

     height: 100vh;
     width: 100%;
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
}

.form-cont{
    width:35%;
    padding: 20px;
    color: white;
    border-radius: 20px;
    background-color: gray;
}